.home{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 4rem;
    height: 45rem;
    margin-bottom: 15rem;
}
.section1{
    margin-left: 6rem;
}

.img1{
    border: solid rgb(107, 107, 107)  5px;
    margin-right:7rem ;
    width: 20rem;
    height: 21rem;
    border-radius: 25rem;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.3);
}


h1{
    font-size: 72px;
}

span{
    font-size: 72px;
    background: linear-gradient(to top, red, yellow);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.p1{
    font-size: 20px;
    width: 35rem;
    font-weight: 600;
}

.img2{
    margin-top: 15px;
    width: 21px;
    height: 21px;
}

.img3{
    margin-top: 15px;
    width: 21px;
    height: 21px;
}
.img4{
    margin-top: 15px;
    width: 21px;
    height: 21px;
}

.location{
    display: flex;
    gap: 1rem;
}

.num{
    display: flex;
    gap: 1rem;
}

.email{
    display: flex;
    gap: 1rem;
}